<html>
  <head>
    <title>Table of Contents</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <style>
      body > ul {
        padding: 0;
        margin: 2em 0;
      }
      li {
        line-height: 2;
        font-size: 18pt;
        border-bottom: 1px solid #CCC;
      }
      li.lvl2 {
        text-indent: 1em;
      }
      a {
        color: blue !important;
        text-decoration: none;
      }
    </style>
  </head>
  <body>

    <h2>TABLE OF CONTENTS</h2>

    <ul>
      <li>
        <a href="1.html">The Signal Man</a>
      </li>
      <li>
        <a href="2.html">The Haunted House</a>
      </li>
      <li class="lvl2">
        <a href="2.html#p2ch1">Chapter I — The Mortals in the House</a>
      </li>
      <li class="lvl2">
        <a href="2.html#p2ch2"
        >Chapter II — The Ghost in Master B.'s Room</a>
      </li>
      <li>
        <a href="3.html">The Trial for Murder</a>
      </li>
    </ul>

  </body>
</html>
