body {
  font: 10pt Helvetica Neue, Helvetica, sans-serif;
  line-height: 1.2;
}

h1, h2, h3 {
  font-family: Georgia, serif;
  color: #555;
  font-weight: normal;
}

h1 {
  color: #900;
}

body.narrow {
  max-width: 25em;
  margin: 0 auto;
}

h1, h2, h3, p, li {
  max-width: 25em;
}

.backToGuide {
  display: block;
  color: #CCC;
  text-align: center;
  text-decoration: none;
  padding: 5px 0;
  border-bottom: 1px dotted #CCC;
  margin-bottom: 1em;
}

.backToGuide:hover {
  color: #900;
}
