hr.softBreak {
  border: none;
  border-top: 1px dotted #999;
}
section {
  position: relative;
  background: -moz-linear-gradient(0deg, #FFF, #555, #FFF, #555, #FFF);
  background: -webkit-linear-gradient(0deg, #FFF, #555, #FFF, #555, #FFF);
  width: 320px;
  height: 380px;
}
.columns {
  width: 2700px;
  -moz-column-width: 300px;
  -webkit-column-width: 300px;
  -moz-column-gap: 20px;
  -webkit-column-gap: 20px;
  -moz-column-fill: auto;
  -webkit-column-fill: auto;
  height: 380px;
}
.colCntr {
  width: 0;
  height: 0;
  overflow: hidden;
}
.imposter {
  background-color: white;
  background-image: -moz-element(#origin);
  background-image: -webkit-element(#origin);
  background-repeat: no-repeat;
  position: absolute;
  width: 160px;
  height: 380px;
  top: 0;
  left: 0;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  background-color: #FFF;
}
#imp1 {
}
#imp2 {
}
#imp3 {
  -moz-transform: rotateY(180deg) translateZ(1px);
  -webkit-transform: rotateY(180deg) translateZ(1px);
}
#imp4 {
  left: 160px;
}
#gate {
  position: absolute;
  -moz-transform-origin: 0% 50%;
  -webkit-transform-origin: 0% 50%;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  z-index: 1;
  top: 0px;
  left: 160px;
  width: 160px;
  height: 382px;
  background: #FFF;
}

.pageTurn #gate{
  -moz-transition: -moz-transform linear 600ms;
  -webkit-transition: -webkit-transform linear 600ms;
  -moz-transform: perspective(500px) rotateY(-180deg);
  -webkit-transform: perspective(500px) rotateY(-180deg);
}


.forwardTurn #imp4 {
  opacity: 0.25;
}

.forwardTurn .pageTurn #imp1 {
  -moz-transition: opacity linear 300ms 300ms;
  -webkit-transition: opacity linear 300ms 300ms;
  opacity: 0.25;
}

.forwardTurn .pageTurn #imp4 {
  -moz-transition: opacity linear 300ms;
  -webkit-transition: opacity linear 300ms;
  opacity: 1;
}


.reverseTurn #gate {
  -moz-transform-origin: 100% 50%;
  -webkit-transform-origin: 100% 50%;
  left: 0;
}

.reverseTurn .pageTurn #gate {
  -moz-transform: perspective(500px) rotateY(180deg);
  -webkit-transform: perspective(500px) rotateY(180deg);
}

.reverseTurn #imp1 {
  opacity: 0.25;
}

.reverseTurn #imp4 {
  opacity: 1;
}

.reverseTurn .pageTurn #imp1 {
  -moz-transition: opacity linear 300ms;
  -webkit-transition: opacity linear 300ms;
  opacity: 1;
}

.reverseTurn .pageTurn #imp4 {
  -moz-transition: opacity linear 300ms 300ms;
  -webkit-transition: opacity linear 300ms 300ms;
  opacity: 0.25;
}
