<!DOCTYPE html>
<html>
  <head>
    <title>Lorem Ipsum</title>
  </head>
  <body>
    <h3>I</h3>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer neque neque, varius volutpat cursus vel, tristique vel mi. Etiam tincidunt metus sed libero fringilla venenatis. Suspendisse interdum, neque sit amet fringilla consectetur, nunc nulla accumsan est, vitae porta ligula eros non felis. Donec volutpat viverra metus, eu tincidunt lectus dapibus ac.
    </p>
    <p>
    Etiam sem nunc, tristique id suscipit id, vulputate at tellus. Etiam tempus orci a nulla convallis id imperdiet tellus ultrices. Morbi faucibus enim id lectus porttitor sollicitudin scelerisque neque commodo. Proin tempor ultrices posuere. Suspendisse et quam neque. Proin imperdiet dolor in libero volutpat elementum. Nunc accumsan tristique nisi, sit amet vestibulum nisi ultrices et. Nam vestibulum, erat et varius mattis, lectus enim auctor tellus, sed tincidunt metus tortor sed tortor. Nam fermentum tristique sapien sed fermentum. Ut interdum mauris eget purus tempus viverra.
    </p>
    <p><img src="logo_small.png" alt="Monocle motif" style="float: left" />Sed porttitor tristique libero, at feugiat ligula feugiat ut. Morbi cursus ornare blandit. Suspendisse sit amet sapien metus, sagittis condimentum elit. Sed mollis turpis sed turpis viverra venenatis. Ut viverra dignissim orci, sed egestas nisi lobortis quis. Nulla mi lacus, dictum quis interdum vitae, pretium sit amet sem. Phasellus vitae ante in mauris varius imperdiet volutpat sed felis. Donec mollis felis vitae magna luctus ut gravida augue luctus. Maecenas suscipit purus id odio euismod porttitor at volutpat purus.
    </p>
    <p>
      <img src="logo.png" alt="Monocle logo" />
    </p>
  </body>
</html>
