body {
  font-family: Georgia, serif;
  font-size: 85%;
  line-height: 1.3;
}

h1 {
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14pt;
}

h2 {
  text-align: center;
  font: normal 12pt Helvetica, Arial, sans-serif;
  margin-bottom: 1em;
  border-bottom: 1px dotted #DDD;
  padding-bottom: 1em;
}
