p {
  line-height: 130%;
  color: #F0F;
}

h3 {
  text-align: center;
}

p {
  text-indent: 1em;
  padding: 0;
  margin: 0;
}

h3 + p {
  text-indent: 0;
}

h3 + p:first-letter {
  font-size: 300%;
  font-weight: bold;
  float: left;
  padding: 6px 4px 0 0;
}

